:root {
  --clr-primary-400-hsl: 24, 56%, 68%;

  --clr-primary-400: hsl(var(--clr-primary-400-hsl));

  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-300: hsl(0, 0%, 85%);
  --clr-neutral-500: hsl(0, 0%, 55%);
  --clr-neutral-700: hsl(0, 0%, 24%);
  --clr-neutral-900: hsl(0, 0%, 8%);

  --ff-primary: "Poppins", sans-serif;
  --ff-secondary: "Oswald", serif;
  /* --ff-secondary: serif; */

  --fw-bold: 700;
  --fw-medium: 500;
  --fw-regular: 400;

  --fs-300: clamp(0.875rem, 2vw, 1rem); /* 14px -> 16px */
  --fs-450: 1.125rem;
  --fs-400: clamp(1.125rem, 3vw, 1.25rem); /* 18px -> 20px */
  --fs-600: clamp(1.5rem, 4vw, 2rem); /* 24px -> 32px */
  --fs-800: clamp(2.5rem, 6vw, 3.5rem); /* 40px -> 56px */
  --fs-900: clamp(3rem, 8vw, 6rem); /* 48px -> 96px */

  --size-100: 0.25rem; /* 4px */
  --size-200: 0.5rem; /* 8px */
  --size-300: 0.75rem; /* 12px */
  --size-400: 1rem; /* 16px */
  --size-500: 1.5rem; /* 24px */
  --size-600: 2rem; /* 32px */
  --size-700: 3rem; /* 48px */
  --size-800: 4rem; /* 64px */
  --size-900: 6rem; /* 96px */
  --size-1000: 10rem; /* 160px */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font: inherit;
}

body {
  --text-primary: var(--clr-neutral-900);
  min-height: 100vh;

  font-family: var(--ff-primary);
  font-size: var(--fs-400);
  font-weight: var(--fw-regular);
  line-height: 1.5;
  color: var(--clr-neutral-700);
}

h1,
h2,
h3 {
  font-family: var(--ff-secondary);
  font-weight: var(--fw-bold);
  text-transform: uppercase;
  line-height: 1.1;
  color: var(--text-primary);
}

ul:where([role="list"]) {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (width > 50em) {
  [data-max-width="xs"] {
    max-width: 8ch;
  }

  [data-max-width="sm"] {
    max-width: 12ch;
  }

  [data-max-width="md"] {
    max-width: 28ch;
  }

  [data-max-width="lg"],
  p:where(:not([class])) {
    max-width: 40ch;
  }

  [data-max-width="xl"] {
    max-width: 50ch;
  }
}

img,
picture,
iframe {
  max-width: 100%;
  display: block;
}

section {
  padding-block: clamp(var(--size-900), 30vw, var(--size-1000));
}

[data-region="md"] {
  padding-block: clamp(var(--size-700), 30vw, var(--size-900));
}

.container {
  width: min(100% - 2rem, 71.25rem);
  margin-inline: auto;
}

.flow-content {
  display: grid;
  align-content: start;
  gap: var(--size-400);
}

.flex-group {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--size-400);
}

.grid {
  display: grid;
  grid-template-columns: repeat(var(--column-count, 1), 1fr);
  gap: var(--size-400);
}

@media (width > 50em) {
  .grid[data-cols="2"] {
    --column-count: 2;
  }
}

[data-spacing="lg"] {
  gap: var(--size-600);
}

[data-spacing="md:lg"] {
  gap: clamp(var(--size-400), 3vw, var(--size-600));
}

.img-wrapper {
  overflow: hidden;
}

.img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-4xl {
  font-size: var(--fs-900);
}

.text-3xl {
  font-size: var(--fs-800);
}

.text-xl {
  font-size: var(--fs-600);
}

.text-sm {
  font-size: var(--fs-300);
}

/* 
xs - 200
sm - 300
md - 400
lg - 500
xl - 600
2xl - 700
3xl - 800
4xl - 900
*/

.text-center {
  text-align: center;
}

.text-primary {
  color: var(--clr-primary-400);
}

.bg-text-dark {
  --link: var(--clr-neutral-100);
  --link-hover: var(--clr-primary-400);
  --text-primary: var(--clr-neutral-100);
  background-color: var(--clr-neutral-900);
  color: var(--clr-neutral-300);
}

.bg-text-primary {
  --link: var(--clr-neutral-700);
  --link-hover: var(--clr-neutral-900);
  --text-primary: var(--clr-neutral-900);
  background-color: var(--clr-primary-400);
  color: var(--clr-neutral-700);
}

.button {
  --_padding-inline: var(--size-600);
  --_padding-block: var(--size-500);
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: fit-content;
  padding-inline: var(--_padding-inline);
  padding-block: var(--_padding-block);

  background-color: var(--clr-neutral-900);
  color: var(--clr-neutral-100);
  font-family: var(--ff-secondary);
  font-weight: var(--fw-medium);
  font-size: var(--fs-450);
  text-transform: uppercase;
  line-height: 1.1;

  text-decoration: none;
  letter-spacing: 0.25em;
}

.button:is(:hover, :focus-within) {
  text-underline-offset: 0.2em;
}

.button.has-icon {
  padding: 0;
}

.button.has-icon span {
  padding-inline: var(--_padding-inline);
  padding-block: var(--_padding-block);
}

.button.has-icon:is(:hover, :focus-within) span {
  text-decoration: underline;
  padding-inline: var(--_padding-inline);
  padding-block: var(--_padding-block);
}

.button.has-icon .icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  padding-inline: var(--size-400);
  background-color: var(--clr-primary-400);
  transition: 250ms ease;
  transition-property: background-color, color;
}

.button.has-icon:is(:hover, :focus-within) .icon {
  background-color: var(--clr-neutral-900);
  color: var(--clr-neutral-100);
}

.brand-logo {
  font-family: var(--ff-secondary);
  font-weight: var(--fw-bold);
  font-size: var(--fs-600);
  line-height: 1.1;
  text-transform: uppercase;
  color: var(--text-primary);
  width: fit-content;
}

.card {
  padding-block: var(--size-700);
  padding-inline: clamp(var(--size-500), 5vw, var(--size-700));
}

.header {
  position: relative;
}

.header-background div {
  width: 35%;
  height: 100%;
  background-color: var(--clr-neutral-900);
  display: none;
}

.header-background img {
  height: 100%;
}

@media (width < 49.999em) {
  .header-background img {
    width: 100%;
    aspect-ratio: 16 / 10;
    object-fit: cover;
  }
}

.header-inner {
  grid-template-columns:
    "title"
    "content";
}

.header-inner__headline {
  grid-area: title;
}

.header-inner__content {
  grid-area: content;
}

@media (width > 50em) {
  .header {
    padding-block: 10rem;
  }

  .header-background {
    position: absolute;
    inset: 0;
    z-index: -1;
  }

  .header-inner {
    grid-template-columns: 2fr 3fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      ". title"
      ". content";
  }
}

@media (width > 70em) {
  .header-background {
    height: 100%;
    display: flex;
  }

  .header-background div {
    display: block;
  }

  .header-inner {
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "title content"
      ". .";
  }

  .header-inner__content {
    justify-self: end;
  }

  .header-title {
    color: var(--clr-neutral-100);
    mix-blend-mode: difference;
  }
}

.map {
  width: 100%;
  height: 50vh;
  background-color: #f2f2f2;
  position: relative;
  isolation: isolate;
}

.map__location {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  z-index: -1;
}

.map__content {
  position: relative;
  height: fit-content;
}

.map__content > * {
  position: absolute;
  top: 0;
  left: 0;
}

@media (width > 50em) {
  .grid--home {
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr auto;
    align-items: stretch;
    grid-template-areas:
      "primary secondary"
      "primary content";
  }

  .grid--home > *:nth-child(1) {
    grid-area: primary;
    width: 100%;
    aspect-ratio: 1 / 1.1;
  }

  .grid--home > *:nth-child(2) {
    grid-area: secondary;
  }

  .grid--home > *:nth-child(3) {
    grid-area: content;
  }
}

@media (width > 50em) {
  .order-first {
    order: -999;
  }
}

.footer {
  padding-block: clamp(var(--size-700), 8vw, var(--size-800));
}

.footer-inner {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: var(--size-500);
}

@media (width > 50em) {
  .footer-inner {
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer-link {
  text-decoration: none;
  color: var(--link);
}

.footer-link:is(:hover, :focus) {
  color: var(--link-hover);
}
